body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
  width: min(100%, 1100px);
  margin: 0 auto;
}

.shop-title {
  text-align: center;
}

.products-conatainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  flex: 0 0 250rem;
  justify-content: center;
}

.product-image {
  aspect-ratio: 1/0.7;
}
.product-item {
  border: 1px solid chocolate;
  padding: 1rem;
  width: 250px;
}
