body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#app {
  width: min(100%, 1100px);
  margin: 0 auto;
}

.shop-title {
  text-align: center;
}

.products-conatainer {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  flex: 0 0 250rem;
  justify-content: center;
}

.product-image {
  aspect-ratio: 1/0.7;
}
.product-item {
  border: 1px solid chocolate;
  padding: 1rem;
  width: 250px;
}

.cart {
  display: flex;
  justify-content: right;
  position: relative;
}
.cart-list {
  position: absolute;
  background: #fff4f4;
  top: 30px;
  width: 370px;
  list-style: none;
  padding: 0 1rem;
  border: 1px solid black;

  display: none;
}
.cart-text.open-cart-list + ul {
  display: block;
}

.cart-text {
  cursor: pointer;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.2rem;
}

.cart-product-item {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 86px auto 30px;
  grid-template-rows: repeat(2, 35px);
  padding: 1rem 0;
}
.cart-list li:last-child .cart-product-item {
  border: none;
}

.cart-product-image-container {
  grid-column: 1/1;
  grid-row: 1/3;
  overflow: hidden;
  display: flex;
  align-content: center;
}
.cart-product-title-container {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  padding: 0;
}
.cart-product-price-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
}

.cart-product-count {
  margin: 0 1rem 0 0;
}

.cart-product-image {
  width: 75px;
}

.cart-product-title {
  margin: 0;
}
.cart-product-price {
  margin: 0;
}

.cart-item-remove-container {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
}
.cart-item-remove {
  background: transparent;
  border: none;
  cursor: pointer;
}
